<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head" :: head></div>
<body>
    <div th:replace="fragments/header" :: header></div>
    <div th:replace="fragments/nav" :: nav></div>
    
    <main>
        <h3 th:text="${title}"></h3>
        <form th:action="@{/about/registerEmployee}" method="POST" th:object="${objEmp}">
            <div>
                <input type="text" placeholder="Nombre" th:field="${objEmp.name}">
            </div>
            <div>
                <input type="text" placeholder="Apellido" th:field="${objEmp.lastName}">
            </div>
            <div>
                <input type="text" placeholder="Salario" th:field="${objEmp.Salary}">
            </div>
            <div>
                <input type="text" placeholder="Puesto" th:field="${objEmp.position}">
            </div>
            <div>
                <input type="submit" value="Registrar">
            </div>    
        </form>

    </main>
</body>
</html>